* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(211, 180, 206);
  font-family: "Poppins", sans-serif;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 50px;
}

.todolist-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.todolist {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  gap: 10px;
}
.input,
button {
  margin: 4px;
  padding: 6px;
}

.todo-item {
  display: flex;

  border: 2px solid rgb(215, 198, 198);
  padding: 10px;
  justify-content: space-between;
}
.marked {
  text-decoration: line-through;
}
.checkbox {
  width: 100px;
  border-radius: 50%;
}
