* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 255, 255);
}
.heading {
  font-family: "Courier New", Courier, monospace;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 50px;
}

.todo-item .fa-solid {
  margin: 0 10px;
}
.fa-solid:hover {
  color: rgb(58, 57, 57);
  transition: all 0.4s;
  scale: 1.4;
}

.todolist-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.todolist {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  gap: 10px;
}
.input {
  margin: 4px;
  padding: 6px;
}
.add-btn {
  margin: 4px;
  padding: 6px;
  background-color: white;
}
.add-btn:hover {
  background-color: rgb(107, 107, 250);
  transition: all 0.3s;
}
.add-btn:active,
.fa-solid:active {
  color: rgb(0, 34, 252);
  scale: 0.8;
  transition: all 0.4s;
}
.todo-btns {
  display: flex;
  gap: 20px;
}
.todo-item {
  display: flex;
  background-color: aliceblue;
  border: 2px solid rgb(239, 220, 220);
  padding: 10px;
  justify-content: space-between;
}
.todo-item:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: all 0.3s;
}
.marked {
  text-decoration: line-through;
}
.checkbox {
  width: 100px;
  border-radius: 50%;
}
